/* You can add global styles to this file, and also import other style files */
@import 'node_modules/ngx-toastr/toastr';
@import url('https://fonts.cdnfonts.com/css/mulish');

$default-font-family: "Mulish", sans-serif;

body {
  background: #F9FAFC;
  font-family: $default-font-family;
  margin: 0;
}
