<div class="login-container">
  <div class="navigation">
    <span>Not registered?</span>
    <a class="signup-cta" routerLink="/signup">Create an account</a>
  </div>
  <div class="greetings">Welcome back! 👋</div>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="title">Login to your account</div>
    <div class="field" [ngClass]="{'invalid-field': isInvalid('email')}">
      <label>Email</label>
      <input type="email" placeholder="Please enter your email" formControlName="email" />
      <div class="error-block" *ngIf="isInvalid('email')">{{ getErrorMessage("email") }}</div>
    </div>
    <div class="field" [ngClass]="{'invalid-field': isInvalid('password')}">
      <label>Password</label>
      <input type="password" placeholder="Enter password" formControlName="password" />
      <div class="error-block" *ngIf="isInvalid('password')">{{ getErrorMessage("password") }}</div>
    </div>
    <button type="submit">Login</button>
  </form>
  <p class="forget">Forgot Password?</p>
</div>
