<div class="users-list">
  <div class="header-section">
    <div class="title">Messages <span class="count">12</span></div>
    <div class="add-message" (click)="toggleUserDropdown()">
      <img #addIcon height="30px" width="30px" src="assets/icons/add.svg" />
      <app-users-dropdown [showDropdown]="showUserDropdown" (toggleDropdown)="toggleUserDropdown()"></app-users-dropdown>
    </div>
  </div>
  <div class="search-section">
    <app-search-field class="container" [properties]="userDropdownProperties"></app-search-field>
  </div>
  <div class="chats">
    <div class="chat-item" *ngFor="let user of users">
      <app-message [user]="user"></app-message>
    </div>
  </div>
</div>
