.users-list {
  height: 100%;
  border-right: 1px solid #e1e1e1;

  .header-section {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;

    .title {
      font-size: 18px;

      .count {
        font-size: 12px;
        background: var(--gray-gray-200, #EDF2F7);
        padding: 5px;
        border-radius: 22px;
      }
    }

    img {
      cursor: pointer;
    }
  }

  .search-section {
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .search-container {
      display: flex;
      align-items: center;
      border: 1px solid #F3F3F3;
      border-radius: 12px;
      padding: 8px;
      background-color: #F3F3F3;
      align-self: stretch;

      .search-icon {
        margin: 0 8px 0 8px;

        img {
          width: 15px;
          height: 15px;
        }
      }

      .search-field {
        border: none;
        width: 100%;
        background: transparent;
        outline: none;
        height: 25px;
      }
    }
  }

  .chats {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    .chat-item {
      width: 100%;
    }
  }
}
