<div class="chat-card" (click)="selectChat()" [selectedUser]="selectedUser" [user]="user" selectChat>
  <div class="thumbnail">{{ nameInitials }}</div>
  <div class="content">
    <div class="container">
      <p class="name">{{ user.name }} <span *ngIf="!!unreadCount" class="unread-count">{{ unreadCount }}</span></p>
      <div class="time-ago">{{ formattedTimeDifference }}</div>
    </div>
    <div class="message-text" [ngClass]="{'unread' : !!unreadCount}">{{ trimmedLastMessage }}</div>
  </div>
</div>
