$left-pane-width: 100px;
$users-panel-width: 25%;
$messages-panel-width: 50%;
$quick-access-panel-width: calc(100% - $left-pane-width - $users-panel-width - $messages-panel-width);
.grid-container {
  display: grid;
  grid-template-columns: $left-pane-width $users-panel-width $messages-panel-width $quick-access-panel-width;

  .grid-item {
    height: 100vh;
    text-align: center;
  }
}
