<div class="login-container">
  <div class="navigation">
    <span>Not registered?</span>
    <span class="signup-cta">Create an account</span>
  </div>
  <div class="greetings">Welcome back! 👋</div>
  <div class="form">
    <div class="title">Login to your account</div>
    <div class="field">
      <label>Email</label>
      <input type="email" placeholder="Please enter your email" />
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" placeholder="Enter password" />
    </div>

    <button>Login</button>
  </div>
  <p class="forget">Forgot Password?</p>
</div>
