<div class="users-list">
  <div class="header-section">
    <div class="title">Messages <span class="count">12</span></div>
    <div class="add-message">
      <img height="30px" width="30px" src="assets/icons/add.svg" />
    </div>
  </div>
  <div class="search-section">
    <div class="search-container">
      <div class="search-icon">
        <img src="assets/icons/search.svg" alt="Search" />
      </div>
      <input class="search-field" type="text" placeholder="Search messages" />
    </div>
  </div>
</div>
