.users-dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  width: 240px;
  padding: 7px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    cursor: pointer;

    .chat-card {
      display: flex;
      padding: 10px;
      align-items: flex-start;
      gap: 16px;
      cursor: pointer;
      align-self: stretch;
    
      &:hover, .active {
        border-radius: 12px;
        background: rgba(97, 94, 240, 0.06);    
      }
    
      .thumbnail {
        padding: 10px;
        background: var(--Primary, #615EF0);
        color: white;
        width: 35px;
        height: 24px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
      }
    
      .content {
        display: block;
        text-align: left;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }

      .action {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
