<div class="message-group" [ngClass]="{'received': message.isReceived, 'sent': !message.isReceived}">
  <div class="thumbnail left" *ngIf="message.isReceived">EE</div>
  <div class="grouped-messages" [ngClass]="{'received': message.isReceived, 'sent': !message.isReceived}">
    <div class="message-item" *ngFor="let message of messageGroup">
      <div class="message-content" [ngClass]="{'right': !message.isReceived}">
        <div class="message-text">{{ message.content }}</div>
      </div>
    </div>
  </div>
  <div class="thumbnail right" *ngIf="!message.isReceived">AA</div>
</div>
